body {
  color: #000;
  background-color: #fff;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.navbar {
  background-color: #FF9933;
}
.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.table-dark {
    color: #fff;
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 1.0em;
    }
  }
}

.my-red:before {
  color:F00;
}

.my-white:before {
  border-color:#FFF;
}

.posts {
  background-color: #EEEEEE;
  .post {
    .date {
      font-size: 0.8em;
      color: #999999;
    }
    .title {
      font-size: 1.4em;
      font-weight: bold;
    }
    .body {
      font-size: 1.1em;
    }
    .icon{
      font-size: 1.1em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}